.cart {
 max-width: 230px;
 margin: 10px;
 border: 1px solid var(--bs-gray);
 border-radius: 15px 15px 15px 15px;
 padding: 10px;
}
.img_card {
 max-width: 200px;
 display: block;
 margin: auto;
}
.title {
  margin: 1px;
}
.title h1 {
 font-size: 26px;
 color: black;
 font-family: 'Poppins', sans-serif;
}
.info {
  margin: 5px;
}
.info h1 {
 max-width: 230px;
 font-size: 16px;
 color: var(--bs-secondary);
 font-weight: initial;
 font-family: 'Poppins', sans-serif;
}
.cart a {
 text-decoration: none;
}
.cart:hover {
 opacity: 50%;
}
.tags > a {
 background: aquamarine;
 padding: 1px;
 margin: 10px;
}
.tags strong {
 border: 1px solid var(--bs-warning);
 color: var(--bs-primary);
 border: 1px solid var(--bs-cyan);
 border-radius: 10px;
 padding: 0px 10px;
 margin: 0px 5px;
 font-size: 13px;
 font-weight: 100;
}
.grid {
 display: flex;
}
span {
 display: none;
}
@media (max-width: 768px){
  .grid {
  display: flex;
  background: aliceblue;
  overflow: auto;
  }
  .cart {
  margin: 10px;
  }
  span {
  font-family: 'Poppins', sans-serif!important;
  display: block!important;
  font-size: 10px!important;
  text-align: center!important;
  }
}
/* Import Hover Card */
.cart {
 display: inline-block;
 border-radius: 4px;
 box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
 transition: all 0.2s ease;
}
.cart:hover, .cart.hover {
 transform: translateY(-4px);
 box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* Search CSS */

.cntr {
 display: table;
 width: 100%;
 height: 100%;
}
.cntr .cntr-innr {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}
/*** STYLES ***/
.search {
 display: inline-block;
 position: relative;
 height: 35px;
 width: 35px;
 box-sizing: border-box;
 margin: 0px 8px 7px 0px;
 padding: 7px 9px 0px 9px;
 border: 3px solid var(--bs-warning);
 border-radius: 25px;
 transition: all 200ms ease;
 cursor: text;
}
.search:after {
 content: "";
 position: absolute;
 width: 3px;
 height: 20px;
 right: -5px;
 top: 21px;
 background:var(--bs-warning);
 border-radius: 3px;
 transform: rotate(-45deg);
 transition: all 200ms ease;
}
.search.active,
.search:hover {
 width: 200px;
 margin-right: 0px;
}
.search.active:after,
.search:hover:after {
 height: 0px;
}
.search input {
 width: 100%;
 border: none;
 box-sizing: border-box;
 font-size: 15px;
 color: inherit;
 background: transparent;
 outline-width: 0px;
}
/* Page Articles */
.fa-star {
 color: #d6d4d0;
}
.img__blog {
 width: 90%;
 display: block;
 margin: auto;
}
.date {
 color: var(--bs-secondary);
 font-weight: 100;
}
@media (max-width:768px) {
  .img__blog {
  width: 100%;
  }
}